{% extends "layout.html" %}
{% block content2 %}
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/create">Create Post</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
{% endblock content2 %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="" href="#">{{post.author}}</a>
                    <small class="text-muted">{{post.date_posted}}</small>
                    <small class="badge-black">Classified as {{post.sentiment}}</small>
                    <button style="float:right" type="button" class="btn btn-danger" >
                    <a href="/deletePost/{{post.id}}" style="color: antiquewhite;">Delete</a>
                    </button>
                </div>
                <h2>{{post.title}}</h2>
                <p class="">{{post.content}}</p>
                <small class={{post.sentiment}}>{{post.sentiment}}</small>
            </div>
        </article>
    {% endfor %}
{% endblock content%}